# Ignore Everything
/*
/*/

# Except These
!/src/
!/macapp/
!/gradle/
!/.gitignore
!/LICENSE
!/pom.xml
!/IntelliJ-Coding-Style.xml
!/UntitledLauncher.iml
!/libs/
!/gradlew*
!/build.gradle
!/build.properties
!/README.md
!/STYLE.md
!/CHANGELOG.md
!/build.bat
