# Ignore Everything
/*
/*/

# Except These
!/src/
!/macapp/
!/gradle/
!/.gitignore
!/LICENSE
!/README.md
!/pom.xml
!/IntelliJ-Coding-Style.xml
!/UntitledLauncher.iml
!/libs/
!/gradlew*
!/build.gradle
!/build.properties
